.FeaturedInfo{
    justify-content: space-between;
    width: 100%;
    display: flex;
    color: whitesmoke;
    position: sticky;
}

.FeaturedInfoContainer{
    /* padding: 10px; */
    flex: 1;
    border-radius: 10%;
    box-shadow: 10px 5px 5px  rgb(16, 33, 48);
    margin-right: 20px;
    /* margin-top: 10px; */
    cursor: pointer;
    justify-content: center;
}

.icon{
    margin-right: 30px;
    color: rgb(151, 179, 207);
}
.Rate{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    justify-content: space-between;
}

.textInfo{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 11px;
}