.MapBox{
    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: 5px;
    /* padding: 20px; */
    /* box-shadow: 10px 5px 5px  rgb(16, 33, 48);
    color: whitesmoke; */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.container{
    margin-right: 10px;
}

.mapTitle{
    color: whitesmoke;
    cursor: pointer;
    margin-top: 40px;
}