.editUser{
    flex: 4;
    color: whitesmoke;
    padding: 20px;
}

.editUserContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.EditUserButton {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(74, 137, 74);
    color: whitesmoke;
    cursor: pointer;

}